.blog-title {
    font-weight: bold;
    font-size: 3rem;
  }

#home-link {
border-bottom: 1px solid #dadada;
color: #9a9a9a;
font-family: Lato, sans-serif;
font-size: 18px;
line-height: 30px;
margin-bottom: 3rem;
padding-bottom: 3rem;
}